<!DOCTYPE html>
<html ng-app="HeroesApp">
<head>
	<title>Heroes of AJAX!</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="/js/heroesApp.js"></script>
	<script type="text/javascript" src="/js/heroesApp.homeController.js"></script>

</head>
<body ng-controller="homeController">
	{{greeting}}

	<p>Make a hero</p>
	<form ng-submit="createHero()">
		<input ng-model="newHero.name" placeholder="name"></input>
		<input ng-model="newHero.powers" placeholder="powers"></input>
		<input ng-model="newHero.MP" placeholder="MP"></input>
		<input ng-model="newHero.HP" placeholder="HP"></input>
		<input ng-model="newHero.weaknesses" placeholder="weaknesses"></input>
		<input ng-model="newHero.costume" placeholder="costume"></input>
		<input ng-model="newHero.bestFriend" placeholder="best friend"></input>
		<input ng-model="newHero.HQ" placeholder="HQ"></input>

		<input type="submit"></input>
	</form>

	<p>Make an HQ</p>
	<form ng-submit="createHQ()">
		<input ng-model="newHQ.name", placeholder="name"></input>
		<input ng-model="newHQ.amenities", placeholder="amenities"></input>
		<input ng-model="newHQ.moatType", placeholder="moatType"></input>

		<input type="submit"></input>

	</form>

	<ul>
		<li ng-repeat="hero in heroes">
			<a href="/heroes/{{hero._id}}">{{hero.name}}</a>
		</li>
	</ul>


</body>
</html>