<!DOCTYPE html>
<html ng-app="humpDay">
<head>
	<title>Breakin da groups</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<div ng-controller="humpTroller">
		
		<form ng-submit="createCharacter()">
			<input poker ng-model="character.name" placeholder="name">
			<input ng-model="character.email" placeholder="email">
			<input ng-model="character.chores" placeholder="chores">
			<input type="submit">
		</form>
		<p style="color:red;">{{error}}</p>
		<h3> Cast </h3>

		<!-- cast.map(function(castMember){
			return <HTML>
		}) -->
		<p ng-hide="$last" ng-repeat="castMember in getCast()" ng-click="chooseMember(castMember)">
			{{castMember}}
			<poker castMembers="cast"></poker>
			

		</p>



	</div>
</body>
</html>